<div class="container sm-login-container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-4 col-lg-4">
            <form name="loginForm" novalidate>
                <div class="form-group">
                    <img src="authentication/loginImage.jpg" class="sm-profile-image" width="200px" height="100px"/>
                </div>
                <div class="form-group" ng-class="{'has-danger': loginForm.username.$error.required && loginForm.username.$dirty}">
                    <input ng-model="currentUser.username" class="form-control" type="text" name='username'
                           placeholder="username" required/>
                    <p class="text-danger" ng-if="loginForm.username.$error.required && loginForm.username.$dirty">
                        Please enter your username
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-danger': loginForm.username.$error.required && loginForm.username.$dirty}">
                    <input ng-model="currentUser.password" class="form-control" type="password" name='password'
                           placeholder="password" required/>
                    <p class="text-danger" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">
                        Please enter your password
                    </p>
                </div>
                <div class="form-group">
                    <button ng-click="logIn()" type="submit" class="btn btn-default pull-xs-right">LogIn</button>
                </div>
            </form>
            <div ng-if="loginError">{{loginError}}</div>
        </div>
    </div>
</div>