html, body {
    margin:0;
    padding:0;
    height:100%;
}

.sm-login-container {
    margin-top: 20%; /* Fallback for older browsers */
    margin-top: 20vh;
}

.sm-profile-image
{
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
